<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>register<h1>
    <form action="register" method="post">
        {%csrf_token%}
        <input type="text" placeholder="First Name" name="first_name"><br>
        <input type="text" placeholder="Last Name" name="last_name"><br>
        <input type="text" placeholder="Username" name="username"><br>
        <input type="email" placeholder="Email" name="email"><br>
        <input type="password" placeholder="Password" name="password1"><br>
        <input type="password" placeholder="Confirm Password" name="password2"><br>
        <input type="submit"> 
    </form>
</body>
</html>